%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button{type:"button", class:"navbar-toggle", "data-toggle"=>"collapse", "data-target"=>"#navbar-collaps-1"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "ti&m AG", "#", class:"navbar-brand"
    .navbar-collapse.collapse#navbar-collaps-1
